.titlespace{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}

#titleelements li{
    display: block;
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

.box{
    border: 2px solid transparent;
}

.dates{
    float: right;
}

h3{
    height: 5px;
}