:root{
    font-size: 12pt;
}

h1{
    text-align: center;
}

#logo{ 
    max-width: 300px;
    max-height: 100px;
}

#top{
    text-align: center;
    border: 2px solid black;
    width: 100%;
    font-size: 1.2rem;
    background-color: bisque;
}

form{
    display: block;
    text-align: center;
    padding: 20px;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 1rem;
}

.finput{
    padding: 10px;
    height: 50px;
}

#gender{
    width: 20.5vw;
    height: 30px;
}


input{
    width: 20vw;
    height: 2vw;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.button{
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: bisque;
    font-size: 0.8rem;
    box-shadow: 3px 5px 10px grey;
    border: transparent;
    text-align: center;
    
}

.button:hover{
    background-color: rgba(221, 205, 185, 0.8);
}

select:hover{
    border: 2px solid black;
}

