:root{
    font-size: 16pt;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    display: inline-block;
    width: 240px;
    text-align: right;
}

.finput{
    padding: 20px;
    align-self: center;
}

#logo{ 
    width: 120px;
    height: auto;
    left: 20PX;
    top: 30px;
    position: fixed;
}

.top{
    border: 2px solid transparent;
    box-shadow: 3px 5px 10px grey;
    background-color: bisque;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 10px;
}

input{
    width: 20vw;
    height: 2vw;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

#button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: bisque;
    font-size: 0.8rem;
    box-shadow: 3px 5px 10px grey;
    border: transparent;
    
}

#button:hover{
    background-color: rgba(221, 205, 185, 0.8);
}

#gender{
    width: 20.5vw;
    height: 2vw;
}

select:hover{
    border: 2px solid black;
}